<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.github.losemy.rpc"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="zkUtil" class="com.github.losemy.rpc.util.ZkUtil">
        <constructor-arg name="zkAddress" value="${rpc.registry_address}"/>
    </bean>

    <bean id="serviceDiscovery" class="com.github.losemy.rpc.register.zk.ZkServiceDiscovery"/>


    <bean id="rpcProxy" class="com.github.losemy.rpc.client.RpcProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
    </bean>

    <bean id="clientFactory" class="com.github.losemy.rpc.client.ClientManager"/>

    <bean id="testBean" class="com.github.losemy.rpc.test.client.TestBean"/>

    <bean id="testBean1" class="com.github.losemy.rpc.test.client.TestBean1"/>

</beans>